# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.csproj.meta
*.pidb
*.suo
*.sln
*.sln.meta
*.user
*.unityproj
*.booproj

*.ide
.vs/
.vscode/

